<div class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a routerLink="/home" class="navbar-brand">MINIML.</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [class]="{'active' : (navigationItemActive == 'home')}"><a routerLink="home">Home</a></li>
        <li [class]="{'active' : (navigationItemActive == 'about')}"><a routerLink="about">About</a></li>
        <li [class]="{'active' : (navigationItemActive == 'service')}"><a routerLink="service">Service</a></li>
        <li [class]="{'active' : (navigationItemActive == 'work')}"><a routerLink="work">Work</a></li>
        <li [class]="{'active' : (navigationItemActive == 'contact')}"><a routerLink="contact">Contact</a></li>
      </ul>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
