<section id="home" class="main-about">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <h1 class="wow fadeInUp head" data-wow-delay="0.6s">{{ about?.title }}</h1>
        <p class="wow fadeInUp lr-pd" data-wow-delay="0.8s">{{ about?.subtitle }}</p>
      </div>

    </div>
  </div>
</section>


<!-- About Section -->

<section id="about">
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="chart" data-percent="85">
          <div class="chart-icon"><i class="fa fa-laptop"></i></div>
        </div>
        <h3>Creative Design</h3>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="chart" data-percent="90">
          <div class="chart-icon"><i class="fa fa-wordpress"></i></div>
        </div>
        <h3>Web Development</h3>
      </div>
      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="chart" data-percent="80">
          <div class="chart-icon"><i class="fa fa-cogs"></i></div>
        </div>
        <h3>Graphic Design</h3>
      </div>
      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="chart" data-percent="95">
          <div class="chart-icon"><i class="fa fa-html5"></i></div>
        </div>
        <h3>Multimedia</h3>
      </div>

    </div>
  </div>
</section>


<!-- Team Section -->

<section id="team">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="wow bounceIn section-title">
          <h2>Meet our team</h2>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.4s">
        <div class="team-thumb">
          <img src="assets/img/team-img01.jpg" class="img-responsive" alt="Team">
          <div class="team-overlay">
            <h3>David P. Hughley</h3>
            <h4>Web Designer</h4>
            <ul class="social-icon">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.6s">
        <div class="team-thumb">
          <img src="assets/img/team-img02.jpg" class="img-responsive" alt="Team">
          <div class="team-overlay">
            <h3>William C. Salas</h3>
            <h4>Digital Marketer</h4>
            <ul class="social-icon">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="team-thumb">
          <img src="assets/img/team-img03.jpg" class="img-responsive" alt="Team">
          <div class="team-overlay">
            <h3>Kristin J. Martin</h3>
            <h4>Graphics Designer</h4>
            <ul class="social-icon">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.8s">
        <div class="team-thumb">
          <img src="assets/img/team-img04.jpg" class="img-responsive" alt="Team">
          <div class="team-overlay">
            <h3>Endrea Manning</h3>
            <h4>UI Designer</h4>
            <ul class="social-icon">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<my-cta
  [text]="'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.'"
  [href]="'/contact'"
  [linkText]="'GET IN TOUCH'"
></my-cta>
